@page "/calculate"
@using Calculator.UI.Controllers
@using Calculator.UI.Models

@inject ProbabilityCalculationController ProbabilityCalculationController

<PageTitle>Calculate</PageTitle>

<h1>Calculate</h1>

<EditForm Model=@_request OnValidSubmit=@ValidFormSubmitted>
    <div class="form-group">
        <label for="ProbabilityA">Probability A</label>
        <InputText @bind-Value=_request.ProbabilityA class="form-control" id="ProbabilityA" />
    </div>
    <br />
    <div class="form-group">
        <label for="ProbabilityB">Probability B</label>
        <InputText @bind-Value=_request.ProbabilityB class="form-control" id="ProbabilityB" />
    </div>
    <br />
    <select class="form-control selectpicker" @bind="_request.TypeOfCalculation">
        <option>Select Calculation</option>
        @foreach (var item in _calculations)
        {
            <option value="@item">@item</option>
            // Blazor needs to know what values it binds to!
        }
    </select>
    <br />
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>
<br />
<p role="status">Probability Result: @_response.Result</p>

@code {
    readonly string[] _calculations = new string[] { "CombinedWith", "Either" };

    ProbabilityCalculationRequest _request = new();
    ProbabilityCalculationResponse _response = new() { Result = -1 };

    void ValidFormSubmitted(EditContext editContext)
    {
        _response = ProbabilityCalculationController.CalculateProbability(_request);
        _request = new ProbabilityCalculationRequest();
    }
}
